#snowfall {
width: auto;
margin:auto;
position:absolute;
top:0;
display:flex;
justify-content:space-between;
align-items:center;
}

#snowfall div {
background:;
border-radius:10rem;
filter:blur(1px);
}

#snowfall div:nth-child(1) {
background: white;
width:7px;
height:7px;
margin-left: 30px;
animation:let-snowfall 1.33s linear infinite;
}

#snowfall div:nth-child(2) {
background: white;
width:5px;
height:5px;
margin-left: 40px;
animation:let-snowfall 2.47s linear infinite;
}

#snowfall div:nth-child(3) {
background: white;
width:7px;
height:7px;
margin-left: 60px;
animation:let-snowfall 1.82s linear infinite;
}

#snowfall div:nth-child(4) {
background: white;
width:7px;
height:7px;
margin-left: 70px;
animation:let-snowfall 1.43s linear infinite;
}

#snowfall div:nth-child(5) {
background: white;
width:5px;
height:5px;
margin-left: 90px;
animation:let-snowfall 2.77s linear infinite;
}

@keyframes let-snowfall {
0% {
transform:translateY(-20px);
}

100% {
transform:translateY(120vh);
}
}

.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: transparent;
text-align: center;
}
input[type="submit"] {
width: 30%;
height: 60px;
cursor: pointer;
animation: nudge 2s linear infinite alternate;
background: #D432E1;
border: 3px solid #F76D2D;
border-radius: 10px;
color: #fff;
font-size: 22px;
}
input[type="text"] {
float:left;
width:100%;
max-width:70%;
height:60px;
background-color: #1b488b;
animation: nudge 2s linear infinite alternate;
border-radius: 10px;
border: 3px solid #F76D2D;
padding: 15px;
color: #fff;
 font-size: 18px;


}
@keyframes nudge {
0%, 100% {
 transform: scale(1);
}

50% {
 transform: scale(.8);
}

80% {
 transform: scale(1);
}
}

.test{ padding: 0!important; width: 100%!important; text-align: center;} 

.box-test .test h1{ text-align: center!important; font: bold 7vw/1.3 'Signika', sans-serif; color: hsla(323, 100%, 50%, 1); white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis; }

.test .name{ margin: auto!important; padding: 0!important; text-align: center; font-size: 15px; text-transform: uppercase; font-weight: bold;}

.test .name span{ min-width: 10px; display:inline-block; font-size: 3em; user-select:none; animation:bouncetheyou 5.6s ease-in-out infinite;}

.name span { animation:bouncetheyou .6s; }@keyframes bouncetheyou { 0%,100%{ transform:translate(0); } 25%{ transform:rotateX(20deg) translateY(2px) rotate(-3deg); } 50%{ transform:translateY(-20px) rotate(3deg) scale(1.1); }}

.name span { display:inline-block; animation:thefloathelo .2s ease-in-out infinite; } @keyframes thefloathelo { 0%,100%{ transform:none; } 33%{ transform:translateY(-1px) rotate(-2deg); } 66%{ transform:translateY(1px) rotate(2deg); }}

.name span:nth-child(8n) { color:hsl(50, 75%, 55%); text-shadow:1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
.name span:nth-child(8n-1) { color:hsl(135, 35%, 55%); text-shadow:1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); }

.name span:nth-child(8n-2) { color:hsl(155, 35%, 60%); text-shadow:1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); }

.name span:nth-child(8n-3) { color:hsl(30, 65%, 60%); text-shadow:1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); }

.name span:nth-child(8n-4) { color:hsl(323, 100%, 50%, 1); text-shadow:1px 1px hsl(323, 75%, 50%, 1), 2px 2px hsl(323, 75%, 35%, 1), 3px 3px hsl(323, 75%, 35%, 1), 4px 4px hsl(323, 75%, 35%, 1); }

.name span:nth-child(8n-5) { color:hsl(245, 40%, 50%, 1); text-shadow:1px 1px hsl(245, 40%, 35%, 1), 2px 2px hsl(245, 40%, 35%, 1), 3px 3px hsl(245, 40%, 35%, 1), 4px 4px hsl(245, 40%, 35%, 1); }

.name span:nth-child(8n-6) { color:hsl(0, 82%, 33%, 1); text-shadow:1px 1px hsl(0, 82%, 13%, 1), 2px 2px hsl(0, 82%, 13%, 1), 3px 3px hsl(0, 82%, 13%, 1), 4px 4px hsl(0, 82%, 13%, 1); }

.name span:nth-child(8n-7) { color:hsl(355, 91%, 63%); text-shadow:1px 1px hsl(355, 91%, 43%), 2px 2px hsl(355, 91%, 43%), 3px 3px hsl(355, 91%, 43%), 4px 4px hsl(355, 91%, 43%); }

.name span:nth-child(2) { animation-delay: .1s; }
.name span:nth-child(3) { animation-delay: .2s; }
.name span:nth-child(4) { animation-delay: .3s; }
.name span:nth-child(5) { animation-delay: .4s; }
.name span:nth-child(6) { animation-delay: .5s; }
.name span:nth-child(7) { animation-delay: .6s; }
.name span:nth-child(8) { animation-delay: .7s; }
.name span:nth-child(9) { animation-delay: .8s; }
.name span:nth-child(10) { animation-delay: .9s; }
.name span:nth-child(11) { animation-delay: 1s; }
.name span:nth-child(12) { animation-delay: 1.1s; }
.name span:nth-child(13) { animation-delay: 1.2s; }
.name span:nth-child(14) { animation-delay: 1.3s; }
.name span:nth-child(15) { animation-delay: 1.4s; }
.name span:nth-child(16) { animation-delay: 1.5s; }
.name span:nth-child(17) { animation-delay: 1.6s; }
.name span:nth-child(18) { animation-delay: 1.7s; }
.name span:nth-child(19) { animation-delay: 1.8s; }
.name span:nth-child(20) { animation-delay: 1.9s; }
.name span:nth-child(21) { animation-delay: 2s; }
.name span:nth-child(22) { animation-delay: 2.1s; }
.name span:nth-child(23) { animation-delay: 2.2s; }
.name span:nth-child(24) { animation-delay: 2.3s; }
.name span:nth-child(25) { animation-delay: 2.4s; }
.name span:nth-child(26) { animation-delay: 2.5s; }
.name span:nth-child(27) { animation-delay: 2.6s; }
.name span:nth-child(28) { animation-delay: 2.7s; }
.name span:nth-child(29) { animation-delay: 2.8s; }
.name span:nth-child(30) { animation-delay: 2.9s; }
.name span:nth-child(31) { animation-delay: 3.0s; }
.name span:nth-child(32) { animation-delay: 3.1s; }
.name span:nth-child(33) { animation-delay: 3.2s; }
.name span:nth-child(34) { animation-delay: 3.3s; }
.name span:nth-child(35) { animation-delay: 3.4s; }
.name span:nth-child(36) { animation-delay: 3.5s; }
.name span:nth-child(37) { animation-delay: 3.6s; }
.name span:nth-child(38) { animation-delay: 3.7s; }
.name span:nth-child(39) { animation-delay: 3.8s; }
.name span:nth-child(40) { animation-delay: 3.9s; }
.name span:nth-child(41) { animation-delay: 4.0s; }
.name span:nth-child(42) { animation-delay: 4.1s; }
.name span:nth-child(43) { animation-delay: 4.2s; }
.name span:nth-child(44) { animation-delay: 4.3s; }
.name span:nth-child(45) { animation-delay: 4.4s; }
.name span:nth-child(46) { animation-delay: 4.5s; }
.name span:nth-child(47) { animation-delay: 4.6s; }
.name span:nth-child(48) { animation-delay: 4.7s; }
.name span:nth-child(49) { animation-delay: 4.8s; }
.name span:nth-child(50) { animation-delay: 4.9s; }
.name span:nth-child(51) { animation-delay: 5s; }
.name span:nth-child(52) { animation-delay: 5.1s; }
.name span:nth-child(53) { animation-delay: 5.2s; }
.name span:nth-child(54) { animation-delay: 5.3s; }
.name span:nth-child(55) { animation-delay: 5.4s; }
.name span:nth-child(56) { animation-delay: 5.6s; }
.test{ margin-top: 0!important; margin-bottom: 0!important;}